<div class="border-start border-5 ps-4 mt-4">
  <%= params[:question] %>
  <p>-You</p>
</div>
<div class="border-start border-5 alert alert-warning">
  <strong><%= @response_coach %></strong>
  <p>-Your coach</p>
</div>
<%= link_to "Ask a new question", ask_path %>
